* {
  box-sizing: border-box;
}

:root {
  --red: #ed2938;
  --white: #fff;
  --blue: #002495;
  --flag-height: 150px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-france {
  height: var(--flag-height);
  width: calc(var(--flag-height) * 3 / 2);
  /* margin: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stripe {
  flex-grow: 1;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.white {
  background-color: var(--white);
}
