* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --red: #de0002;
  --yellow: #ffce00;
  --flag-height: 500px;
  --flag-width: var(--flag-height);
  --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-switzerland {
  height: var(--flag-height);
  width: var(--flag-width);
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  background-color: var(--red);
  justify-content: center;
  align-items: center;
  position: relative;
}

.red {
  background-color: var(--red);
}

.white {
  background-color: var(--white);
  height: calc(var(--flag-height) / 5 * 1);
  width: calc(var(--flag-width) / 5 * 3);
}

.no1 {
  transform: rotate(90deg);
  position: absolute;
}
