* {
  box-sizing: border-box;
}
:root {
  --color-light: lightgray;
  --color-dark: darkgray;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  margin: auto;
  max-width: 500px;
  /* background-color: bisque; */
  justify-content: center;
  align-items: center;
}

.square {
  height: 3.5em;
  background-color: var(--color-dark);
  width: 3.5em;
  margin: 1em;
  animation: cku infinite 0.5s;
  transform: rotate(45deg);
}

.square1 {
  background-color: red;
}
.square2 {
  background-color: orange;
}
.square3 {
  background-color: blue;
}

@keyframes cku {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(225deg);
  }
}
